#slider_1{
    background-color: aqua;
}
#slider_2{
    background-color: yellow;
}
#slider_3{
    background-color: red;
}

main > div{
    opacity: 0;
    position: absolute;
    transition: opacity 0.5s;
    height: 400px;
}

main > div:first-child{
    opacity: 1;
}


main{
    height: 400px;
    width: 100vw;

}

main div:target{
    opacity:1;
}
